<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a nuestra pagina web <%= @user.username %></h1>
    <p>
     Se ha registrado con exito a nuestra pagina su nombre de usuario es: <%= @user.username %>.<br>
    </p>
    <p>
      Para entrar al sitio siga el siguiente link: <%= @url %>.
    </p>
    <p>Cualquier inquietud puede contactarnos.</p>
  </body>
</html>