<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="https://image.ibb.co/mRbXsH/logo.png" alt="Logo" style="width:564px;height:188px;">
    <h1>Mensaje de confirmacion nuevo comentario</h1>
    <p>
    Usted ha realizado un nuevo comentario <%= @user.username %><br>
    </p>
    <p>
    Con el siguiente contenido <br>
    </p>
    <p>
    <%= @comment.comment %> <br>
    </p>
    <p>
      Para entrar al sitio siga el siguiente: <a href="<%= @url %>">link</a>
    </p>
    <p>Cualquier inquietud puede contactarnos.</p>
  </body>
</html>