<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Cursos</th>
			</tr>
		</thead>
		
		<tbody>
			<% @teachers.each do |teacher|%>
			<tr>
				<td><%= teacher.name%></td>
				<td><%= teacher.courses%></td>
			</tr>
			<%end%>
		</tbody>
	</table>

</body>
</html>	